<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome to JJM</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link href="img/favicon.ico" rel="shortcut icon"/>
    <title th:text="${cate_en}"></title>

    <!-- Favicon -->

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/owl.carousel.min.css"/>
    <link rel="stylesheet" href="css/slicknav.min.css"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous"/>
    <!-- Main Stylesheets -->
    <link rel="stylesheet" href="css/style.css"/>


    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<header class="header-section clearfix">
    <a href="/" class="site-logo">
        <img src="img/logo.jpg" alt="" height="100" width="100">
    </a>
    <div class="header-right">
        <div class="user-panel">
            <a href="" class="login">sdr2936@gmail.com</a>
            <a href="" class="register">Jongmin Jung</a>
        </div>
    </div>
    <ul class="main-menu">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="#">Pages</a>
            <ul class="sub-menu">
                <li><a href="/awards">수상</a></li>
                <li><a href="/researches">연구활동</a></li>
                <li><a href="/stacks">기술스택</a></li>
                <li><a href="/licenses">자격증</a></li>
                <li><a href="/activities">기타활동</a></li>
            </ul>
        </li>
        <!--<li><a href="blog.html">News</a></li>-->
        <li><a href="/contact">Contact</a></li>
    </ul>
</header>
<!-- Header section end -->


<div class="container">
    <div class="page-header">
        <h1 th:text="${cate_kor}"></h1>
    </div>
    <div class="pull-right" style="width:100px;margin:10px 0;">
        <a href="/content/create" class="btn btn-primary btn-block">등록</a>
    </div>
    <br/><br/><br/>

    <div id="mainHide">
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="col-md-1">#</th>
                <th class="col-md-3">제목</th>
                <th class="col-md-5">설명</th>
                <th class="col-md-20">날짜</th>
                <th class="col-md-15">사진</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="content,iter : ${contentList}">
                <td th:text="${iter.index+1}"></td>
                <td><a th:href="'/content/'+${content.id}" th:text="${content.title}"></a></td>
                <td th:text="${content.description}"></td>
                <td th:text="${content.create_date}"></td>
                <td><img class="img-responsive" th:width="200" th:height="200"  th:src="'image/'+${content.picurl}"/></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<br/>

<!-- Footer section -->
<footer class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-5 order-lg-1">
                <div class="social-links">
                    <a href="https://github.com/alertjjm" target="_blank"><i class="fa fa-github"></i></a>
                    <a href="https://www.facebook.com/profile.php?id=100003747260470&ref=bookmarks" target="_blank"><i class="fa fa-facebook"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--====== Javascripts & Jquery ======-->
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.slicknav.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/mixitup.min.js"></script>
<script src="js/main.js"></script>

</body>
</html>
