<!DOCTYPE html>
<html lang="zxx">
<head>
	<title>Welcome to JJM</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Favicon -->
	<link href="img/favicon.ico" rel="shortcut icon"/>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="css/bootstrap.min.css"/>
	<link rel="stylesheet" href="css/font-awesome.min.css"/>
	<link rel="stylesheet" href="css/owl.carousel.min.css"/>
	<link rel="stylesheet" href="css/slicknav.min.css"/>

	<!-- Main Stylesheets -->
	<link rel="stylesheet" href="css/style.css"/>


	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body>
<!-- Page Preloder -->
<div id="preloder">
	<div class="loader"></div>
</div>

<header class="header-section clearfix">
	<a href="/" class="site-logo">
		<img src="img/logo.jpg" alt="" height="100" width="100">
	</a>
	<div class="header-right">
		<div class="user-panel">
			<a href="/logout" class="login">sdr2936@gmail.com</a>
			<a href="/login" class="register">Jongmin Jung</a>
		</div>
	</div>
	<ul class="main-menu">
		<li><a href="/">Home</a></li>
		<li><a href="/about">About</a></li>
		<li><a href="#">Pages</a>
			<ul class="sub-menu">
				<li><a href="/awards">수상</a></li>
				<li><a href="/researches">연구활동</a></li>
				<li><a href="/stacks">기술스택</a></li>
				<li><a href="/licenses">자격증</a></li>
				<li><a href="/activities">기타활동</a></li>
			</ul>
		</li>
		<!--<li><a href="blog.html">News</a></li>-->
		<li><a href="/contact">Contact</a></li>
	</ul>
</header>
<!-- Header section end -->


<!-- Contact section -->
<section class="contact-section">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6 p-0">
				<!-- Map -->
				<div class="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3165.1780742810465!2d126.95436689750012!3d37.50371798776036!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca19bfd1c0bb1%3A0xee902db348af57fd!2z7KSR7JWZ64yA7ZWZ6rWQIDMxMOq0gCgxMDDso7zrhYTquLDrhZDqtIAp!5e0!3m2!1sko!2skr!4v1584544770218!5m2!1sko!2skr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></div>
			</div>
			<div class="col-lg-6 p-0">
				<div class="contact-warp">
					<div class="section-title mb-0">
						<h2>Get in touch</h2>
					</div>
					<p>Email을 통해 연락 주시거나 아래 form을 통해 글을 남겨주세요</p>
					<ul>
						<li>sdr2936@gmail.com</li>
					</ul>
					<form class="contact-from">
						<div class="row">
							<div class="col-md-6">
								<input type="text" placeholder="Your name">
							</div>
							<div class="col-md-6">
								<input type="text" placeholder="Your e-mail">
							</div>
							<div class="col-md-12">
								<input type="text" placeholder="Subject">
								<textarea placeholder="Message"></textarea>
								<button class="site-btn">send message</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Blog section end -->

<!-- Footer section -->
<footer class="footer-section">
	<div class="container">
		<div class="row">
			<div class="col-xl-6 col-lg-5 order-lg-1">
				<div class="social-links">
					<a href="https://github.com/alertjjm" target="_blank"><i class="fa fa-github"></i></a>
					<a href="https://www.facebook.com/profile.php?id=100003747260470&ref=bookmarks" target="_blank"><i class="fa fa-facebook"></i></a>
				</div>
			</div>
		</div>
	</div>
</footer>
<!--====== Javascripts & Jquery ======-->
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.slicknav.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/mixitup.min.js"></script>
<script src="js/main.js"></script>

</body>
</html>
