<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form class="contact-from" action="/content/create" th:method="post">
    <input type="text" name="category" placeholder="Category">
    <input type="text" name="description" placeholder="Short description" >
    <input type="text" name="title" placeholder="Title" >
    <input type="text" name="longdescription" placeholder="Description">
    <div class="right-button" align="middle"><button type="submit" class="site-btn">Submit</button></div>
</form>
</body>
</html>